/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
img {
    width: 100%;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 600;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.color-grey {
    color: #b8b8b8;
}

.bold {
    font-weight: 600;
}

/* sidebar */
.sidebar {
    width: 300px;
    height: calc(100vh - 100px);
    background-color: black;
}

.sidebar h3 {
    text-transform: uppercase;
    padding-left: 1rem;
}

#logo {
    width: auto;
    height: 50px;
    margin: 1rem;
}

.sidebar-nav {
    margin-bottom: 1rem;
}

.sidebar-nav li:first-child {
    border-left: 3px solid #a2ee2e;
}

li {
    color: #a3a3a3;
    line-height: 2rem;
    padding-left: 1rem;
}

li i {
    font-size: 2rem;
    margin-right: 1rem;
}

.playlist {
    overflow-y: auto;
    height: calc(100vh - 21rem);}

.playlist li {
    margin: 1rem 0;
}

.sidebar a:hover {
    color: white;
}

/* MAIN */
/* common */
main {
    display: flex;
}

/* Header */
header{
    line-height: 100px;
    text-align: right;
}

header a {
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 1rem;
}

/* main-container */
.main {
    width: calc(100% - 300px);
}

.main-container {
    width: 100%;
    height: calc(100vh - 100px);
    padding-top: 120px;
    overflow: auto;
    background-color: lightcoral;
}

header {
    width: calc(100% - 300px);;
    height: 100px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
}

/* FOOTER */
/* main structure */
footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
}

.control-left,
.control-center,
.control-right {
    height: inherit; /*questa serve?*/
}

.control-left,
.control-right {
    display: flex;
    align-items: center;
}

.control-center {
    /* min-width: 12rem; */
    width: 40%;
}

.control-right {
    justify-content: flex-end;
}

/* Internal structure: common */
.dot {
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -10px;
}

.bar {
    height: 4px;
    border-radius: 2px;
    background-color: #5a5a5a;
}

.green-bar {
    width: 20%;
    height: inherit;
    border-radius: 2px;
    background-color: #b8b8b8;
    position: relative;
}

/* Internal layout: left */
footer .control-left img {
    width: auto;
    height: 60px;
    padding: 0 1rem;
}

footer .control-left span {
    font-size: .7rem;
    font-weight: 600;
}

.footer-l-icons {
    padding-left: 2rem;
}

.footer-l-icons i {
    padding: 0 .3rem;
}

/* Internal layout: center */
.footer-center-icons {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.footer-center-icons i {
    padding: 0 1rem;
}

.fa-play-circle {
    font-size: 2rem;
}

.progress-container {
    width: 100%;
    height: 50px;
    font-size: .7rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.control-center .bar {
    width: 80%;
}

/* Internal structure: rigth */
.control-right i {
    padding: 0 .5rem;
}

.control-right .bar {
    width: 80px;
    margin-right: 1rem;
}