/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
img {
    width: 100%;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    font-weight: 400;
    color: white;
}

body {
    min-width: 594px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.color-grey {
    color: #6F6F6F;
}

.bold {
    font-weight: 600;
}

.container {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

/* MAIN */
/* Sidebar */
.sidebar {
    float: left;
    width: 225px;
    height: calc(100vh - 100px);
    background-color: black;
    color: #6F6F6F;
    overflow: hidden;
}

@media screen and (max-width:599px) {
    .sidebar {
        display: none;  
    }
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    height: calc(100% - 100px);
    min-height: 350px;
    overflow: hidden;
}

.sidebar-bottom {
    height: 100px;
    padding: 1rem;
}

#logo {
    width: auto;
    height: 50px;
    margin: 1rem auto;
}

.sidebar-nav img {
    filter: invert(.5);
    vertical-align: middle;
    width: 2rem;
    margin-right: 1rem;
}

@media screen and (max-width:599px) {
    .sidebar-nav img {
        margin: 0 auto;
    }
}

.sidebar-nav span {
    vertical-align: middle;
}

.sidebar .sidebar-nav li:first-child {
    border-left: 3px solid #a2ee2e;
}

.sidebar .search,
.sidebar .libraries {
    border-left: 3px solid transparent;
}

.sidebar h3 {
    text-transform: uppercase;
    margin-top: 2rem;
    color: white;
}

.sidebar h4, 
.sidebar h3 {
    margin: 1rem 1rem;
}

.sidebar #plus {
    display: inline-block;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: black;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    background-color: #6F6F6F;
}

.sidebar a:hover {
    color: white;
}

.new-playlist:hover #plus {
    background-color: white;
}

.new-playlist:hover {
    cursor: pointer;
}

.sidebar li {
    color: #6F6F6F;
    line-height: 2rem;
    padding-left: 1rem;
    margin: 1rem 0;
}

.playlist {
    flex-grow: 1;
    overflow-y: auto;
}

a:hover img {
    filter: invert(0);
}

.download {
    width: 20px;
    filter: invert(.5);
}

@media screen and (max-width:599px) {
    .download {
        margin-right: 3px;
    }
}

#user {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #6F6F6F;
}

/* Sidebar-bottom */
.sidebar-bottom img {
    margin-right: 1rem;
    vertical-align: middle;
}

#username {
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
}

#username::before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    margin: 1rem auto;
    background-color: #6F6F6F;
}

@media screen and (max-width:599px) {
    #username::before {
        display: none;
    }

    #username {
        margin-top: 1rem;
    }
}

/* Sidebar xs */
.sidebar-xs {
    display: none;
    float: left;
    width: 60px;
    height: calc(100vh - 100px);
    overflow: hidden;
    color: #6F6F6F;
    background-color: black;
}

@media screen and (max-width:599px) {
    .sidebar-xs {
        display: block;
        text-align: center;
        padding: 1rem 0;
    }
    
    .sidebar-xs li {
        margin: 1rem 0;
    }
}

.sidebar-xs-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-xs #logo-xs {
    width: 2rem;
}

/* MAIN*/
/* Main container: structure */
.main {
    float: left;
    width: calc(100% - 225px);
    height: calc(100vh - 100px);
    overflow: hidden;
}

@media screen and (max-width:599px) {
    .main {
        width: calc(100% - 60px);
    }
}

.main-container {
    width: 100%;
    height: calc(100vh - 100px);
    padding: 120px 2rem 0;
    overflow: auto;
    background-color: #141922;
}

/* Main container: header */
header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: calc(100% - 225px);
    height: 100px;
    line-height: 100px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width:599px) {
    header {
        width: calc(100% - 60px);
    }
}

header a {
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 3rem;
    line-height: normal;
}

header a:hover {
    transform: scale(120%);
}

/* Main-container: nav */
nav {
    text-align: center;
    margin-bottom: 2rem;
}

nav li {
    text-transform: uppercase;
    display: inline-block;
    color: #6F6F6F;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

nav a:hover {
    color: white;
}

#active::after {
    width: 35px;
    height: 3px;
    background-color: #a2ee2e;
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -8px;
    left: 49px;
}

.main-container nav ul li:first-child {
    position: relative;
}

/* Main-container: playlist rows */
.main-container h1 {
    margin-top: 1rem;
}

.main-container .subtitle {
    font-weight: 600;
    margin-top: 1rem;
}

.album-row {
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1100px) {
    .album-row {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    .album-row {
        flex-wrap: wrap;
    }
}

.album-card {
    margin: 2rem 1rem 2rem 0;
    width: calc(100% / 6);
}

@media screen and (max-width: 1100px) {
    .album-card {
        width: calc(100% / 4 - 1rem);
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 700px) {    
    .album-card {
        width: calc(100% / 2 - 1rem);
    }
}

.album-image {
    position: relative;
}

.album-image img {
    display: block;
}

.album-image:hover img {
    filter: brightness(30%);
    cursor: pointer;
}

.album-row .fa-play-circle {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.album-image:hover .fa-play-circle {
    display: block;
}

.album-image.circle {
    border-radius: 50%;
    overflow: hidden;
}

.sub-cover {
    text-align: center;
}

.sub-cover h3 {
    margin: 1rem 0;    
}

/* FOOTER */
/* main structure */
footer {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color: #282828;
}

footer i {
    font-size: 1.3rem;
}

.control-left,
.control-center,
.control-right {
    height: 100%;
}

.control-left,
.control-right {
    display: flex;
    align-items: center;
}

.control-center {
    width: 40%;
}

.control-right {
    justify-content: flex-end;
}

/* Internal layout: common */
.dot {
    display: none;
    position: absolute;
    top: -5px;
    right: -10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
}

.bar {
    height: 4px;
    border-radius: 2px;
    background-color: #6F6F6F;
    cursor: pointer;
}

.green-bar {
    width: 20%;
    height: inherit;
    border-radius: 2px;
    background-color: #b8b8b8;
    position: relative;
}

.bar:hover .dot {
    display: block;
}

.bar:hover .green-bar {
    background-color: #a2ee2e;
}

footer a.color-grey:hover {
    color: white;
}

/* Internal layout: left */
footer .control-left img {
    width: auto;
    height: 60px;
    padding: 0 1rem;
}

footer .control-left span {
    font-weight: 600;
}

.footer-l-icons {
    padding-left: 2rem;
}

.footer-l-icons i {
    padding: 0 .3rem;
}

/* Internal layout: center */
.footer-center-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-top: 1rem;
}

.footer-center-icons i {
    padding: 0 1rem;
}

.fa-play-circle {
    font-size: 3rem;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    font-weight: 600;
    padding-bottom: 1rem;
}

.control-center .bar {
    width: 80%;
}

/* Internal structure: right */
.control-right i {
    padding: 0 .5rem;
}

.control-right .bar {
    width: 80px;
    margin-right: 1rem;
}

.fa-volume-up {
    color: #b8b8b8;
}